@media screen and (max-width: 980px) {
  .menu-list {
    position: absolute;
    left: 30px;
    top: 65px;
  }
  .menu-list ul li a {
    font-size: 13px;
  }
  .logo-area img {
    width: 100%;
  }
  .active {
    padding: 5px 20px;
    border-radius: 5px;
  }
}
@media screen and (max-width: 750px) {
  .menu-list {
    position: absolute;
    left: 20px;
    top: 50px;
  }
  .testimonial-area img {
    margin-left: 110px;
    padding-bottom: 20px;
  }
}
