@media screen and (max-width:450px){
  .menu-list{
   position: absolute;
   left:20px;
   top:45px;
  }
  .menu-list ul li a {
    font-size: 13px;
  }
  .logo-area img {
    width:100%;
  }
  .active{
    padding:5px 20px;
    border-radius:5px;
  }